.fade-enter {
    opacity: 0;
    transform: translateX(50px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

  .step-title {
    color: #007bff; /* Change la couleur à bleu, tu peux utiliser n'importe quelle couleur */
    font-weight: bold;
  }
  


  tr, td, th {
    border : 1px solid #000;
    justify-content: "center";
    align-items: "center";
  }
  